DISCORD_TOKEN=
GUILD_IDS=850386581135163489
LOG_LEVEL=INFO

# Roles
ORGANIZER_ROLES=Tournament Organizer
ADMIN_ROLES=admins

# WordPress / SportsPress (play.mlbb.site)
WP_PLAY_MLBB_URL=https://play.mlbb.site
WP_PLAY_MLBB_USER=admin
WP_PLAY_MLBB=your-app-password-here
